:root {
  --dark: rgb(33, 33, 33);
  --background: rgba(29, 54, 101, 1);
  --black: rgba(59, 59, 59, 1);
  --primary-text-dark: rgba(112, 112, 112, 1);
  --primary-text-light: rgb(255, 255, 255, 1);
  --input-orange-color: rgba(246, 146, 37, 1);
  --x-offset: -4px;
  --y-offset: 4px;
  --stroke: 0.4px;
  --main-font: "Inter", sans-serif;
  --title-font: "Aclonica", sans-serif;
  --paragraph: "Poppins", sans-serif;
  --hero-font: "Open Sans", sans-serif;
}

#service {
  width: 100%;
  margin-bottom: 150px;
}

.service-wrapper {
  width: 100%;
  padding: 2% 16%;
}

.service-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}

.service-title section {
  width: 50px;
  height: 1px;
  background: var(--black);
}

body.dark .service-title > section {
  background-color: var(--primary-text-light);
}

.service-title > h3 {
  font-family: var(--hero-font);
  font-weight: 500;
  letter-spacing: 4px;
}

body.dark .service-title > h3 {
  color: var(--primary-text-light);
}

/*service information*/
.service-information {
  width: 100%;
  display: flex;
  gap: 25px;
}

/*service-info-first-box*/
.service-info-first-box {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.service-info-first-box-title > h2 {
  width: 80%;
  color: var(--black);
  font-size: 2.75rem;
  font-weight: bold;
  letter-spacing: 2.2px;
  text-shadow: -4px 4px 0px var(--primary-text-light),
    -4.5px 5px 0px var(--input-orange-color),
    -4.5px 3.5px 0px var(--input-orange-color),
    -4px 5px 0px var(--input-orange-color),
    -3.5px 5px 0px var(--input-orange-color);
}

body.dark .service-info-first-box-title > h2 {
  color: var(--primary-text-light);
  text-shadow: -4px 4px 0px var(--black),
    -4.5px 5px 0px var(--input-orange-color),
    -4.5px 3.5px 0px var(--input-orange-color),
    -4px 5px 0px var(--input-orange-color),
    -3.5px 5px 0px var(--input-orange-color);
}

/* service-info-icon-box*/

.service-info-icon-box {
  display: flex;
  gap: 25px;
}

/*first container that holds the 3 icons*/
.service-first-icon-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.service-first-icon-box > section {
  width: 100%;
  height: 250px;
  background-color: rgba(241, 243, 246, 1);
  border-radius: 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.service-first-icon-box > section:hover {
  background-color: var(--input-orange-color);
}

.service-first-icon-box > section:hover p {
  color: var(--primary-text-light);
}

.icon-img {
  width: 50px;
  height: 55px;
}

.icon-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.service-first-icon-box p {
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

/*second icon box containing the remaining two icon*/
.service-second-icon-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.service-second-icon-box > section {
  width: 100%;
  height: 250px;
  background-color: rgba(241, 243, 246, 1);
  border-radius: 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.service-second-icon-box p {
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.service-second-icon-box > section:hover {
  background-color: var(--input-orange-color);
}

.service-second-icon-box > section:hover p {
  color: var(--primary-text-light);
}

/* second information design*/
.service-information-second-box {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.second-box-details > h2 {
  font-weight: bold;
  font-size: 1.25rem;
  width: 45%;
  margin-bottom: 30px;
}

body.dark .second-box-details > h2 {
  color: var(--primary-text-light);
}

.second-box-details-bodytext {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 75%;
}

.service-paragraph {
  display: flex;
  align-items: center;
  gap: 15px;
}

.service-paragraph i {
  color: var(--input-orange-color);
}

.second-box-details-bodytext p {
  font-size: 1.25rem;
  font-weight: 400;
}

body.dark .second-box-details-bodytext p {
  color: rgb(255, 255, 255, 0.6);
}

.service-video {
  width: 100%;
  height: 700px;
  position: relative;
}

.service-video > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-video > .playbutton {
  background-color: rgba(41, 37, 37, 0.5);
  padding: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.playbutton button {
	width: 70px;
	height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  background-color: var(--primary-text-light);
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.playbutton > button > i {
  font-size: 1rem;
  transition: 0.5s ease-in-out;
  color: var(--input-orange-color);
}

.playbutton > button:hover > i {
  color: var(--input-orange-color);
}

@media screen and (max-width: 1440px) {
  .service-wrapper {
    width: 100%;
    padding: 2% 8%;
  }

  .service-information-second-box {
    justify-content: center;
  }

  .service-video {
    height: 500px;
  }

  .service-info-first-box-title > h2 {
    font-size: 2.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .service-wrapper {
    width: 100%;
    padding: 2% 2%;
  }

  .service-information {
    flex-direction: column;
    gap: 100px;
  }

  .service-info-first-box-title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 2%;
  }

  .service-info-first-box-title > h2 {
    width: 100%;
    text-align: center;
  }

  /* service-info-icon-box*/

  .service-info-icon-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  /*first container that holds the 3 icons*/
  .service-first-icon-box {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .service-first-icon-box > section {
    background-color: rgba(241, 243, 246, 1);
    border-radius: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
  }

  .service-first-icon-box > section:hover {
    background-color: var(--input-orange-color);
  }

  .service-first-icon-box > section:hover p {
    color: var(--primary-text-light);
  }

  .service-first-icon-box p {
    font-weight: 600;
    transition: 0.5s ease-in-out;
  }

  /*second icon box containing the remaining two icon*/
  .service-second-icon-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }

  .service-second-icon-box > section {
    width: 35%;
    background-color: rgba(241, 243, 246, 1);
    border-radius: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
  }

  .service-second-icon-box p {
    font-weight: 600;
    transition: 0.5s ease-in-out;
  }

  .service-second-icon-box > section:hover {
    background-color: var(--input-orange-color);
  }

  .service-second-icon-box > section:hover p {
    color: var(--primary-text-light);
  }

  /* second information design*/
  .service-information-second-box {
    display: flex;
    flex-direction: row;
    gap: 0px;
  }

  .second-box-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
  }

  .second-box-details > h2 {
    font-weight: bold;
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  body.dark .second-box-details > h2 {
    color: var(--primary-text-light);
  }

  .second-box-details-bodytext {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .service-paragraph {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .service-paragraph i {
    color: var(--input-orange-color);
  }

  .second-box-details-bodytext p {
    font-size: 1.25rem;
    font-weight: 400;
  }

  body.dark .second-box-details-bodytext p {
    color: rgb(255, 255, 255, 0.6);
  }

  .service-video {
    width: 50%;
    height: 500px;
    position: relative;
    border-radius: 15px;
  }

  .service-video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .service-video > .playbutton {
    background-color: rgba(41, 37, 37, 0.5);
    padding: 0%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
  }

  .playbutton button {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: var(--primary-text-light);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.3);
  }

  .playbutton > button > i {
    font-size: 1.5rem;
    transition: 0.5s ease-in-out;
    color: var(--input-orange-color);
  }

  .playbutton > button:hover > i {
    color: var(--input-orange-color);
  }
}

@media screen and (max-width: 1000px) {
  .service-info-first-box-title > h2 {
    font-size: 2.5rem;
  }

  /* service-info-icon-box*/

  .service-info-icon-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  /*first container that holds the 3 icons*/
  .service-first-icon-box {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .service-first-icon-box > section {
    width: 45%;
    background-color: rgba(241, 243, 246, 1);
    border-radius: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
  }

  .service-first-icon-box > section:hover {
    background-color: var(--input-orange-color);
  }

  .service-first-icon-box > section:hover p {
    color: var(--primary-text-light);
  }

  .service-first-icon-box p {
    font-weight: 600;
    transition: 0.5s ease-in-out;
  }

  /*second icon box containing the remaining two icon*/
  .service-second-icon-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }

  .service-second-icon-box > section {
    width: 45%;
    background-color: rgba(241, 243, 246, 1);
    border-radius: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
  }

  .service-second-icon-box p {
    font-weight: 600;
    transition: 0.5s ease-in-out;
  }

  .service-second-icon-box > section:hover {
    background-color: var(--input-orange-color);
  }

  .service-second-icon-box > section:hover p {
    color: var(--primary-text-light);
  }
}

@media screen and (max-width: 780px) {
  /* second information design*/
  .service-information-second-box {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
  }

  .second-box-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
  }

  .second-box-details > h2 {
    font-weight: bold;
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  body.dark .second-box-details > h2 {
    color: var(--primary-text-light);
  }

  .second-box-details-bodytext {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .service-paragraph {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .service-paragraph i {
    color: var(--input-orange-color);
  }

  .second-box-details-bodytext p {
    font-size: 1.25rem;
    font-weight: 400;
  }

  body.dark .second-box-details-bodytext p {
    color: rgb(255, 255, 255, 0.6);
  }

  .service-video {
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 15px;
  }

  .service-video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .service-video > .playbutton {
    background-color: rgba(41, 37, 37, 0.5);
    padding: 0%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
  }

  .playbutton button {
    width: 50px;
		height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: var(--primary-text-light);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.3);
  }

  .playbutton > button > i {
    font-size: 1rem;
    transition: 0.5s ease-in-out;
    color: var(--input-orange-color);
  }

  .playbutton > button:hover > i {
    color: var(--input-orange-color);
  }
}

@media screen and (max-width: 450px) {
  .service-info-first-box-title > h2 {
    font-size: 2rem;
  }

  /* service-info-icon-box*/

  .service-info-icon-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  /*first container that holds the 3 icons*/
  .service-first-icon-box {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .service-first-icon-box > section {
    width: 80%;
    background-color: rgba(241, 243, 246, 1);
    border-radius: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
  }

  .service-first-icon-box > section:hover {
    background-color: var(--input-orange-color);
  }

  .service-first-icon-box > section:hover p {
    color: var(--primary-text-light);
  }

  .service-first-icon-box p {
    font-weight: 600;
    transition: 0.5s ease-in-out;
  }

  /*second icon box containing the remaining two icon*/
  .service-second-icon-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }

  .service-second-icon-box > section {
    width: 80%;
    background-color: rgba(241, 243, 246, 1);
    border-radius: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
  }

  .service-second-icon-box p {
    font-weight: 600;
    transition: 0.5s ease-in-out;
  }

  .service-second-icon-box > section:hover {
    background-color: var(--input-orange-color);
  }

  .service-second-icon-box > section:hover p {
    color: var(--primary-text-light);
  }

  /* second information design*/
  .service-information-second-box {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
  }

  .second-box-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
  }

  .second-box-details > h2 {
    font-weight: bold;
    font-size: 1.25rem;
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
  }

  body.dark .second-box-details > h2 {
    color: var(--primary-text-light);
  }

  .second-box-details-bodytext {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
  }

  .service-paragraph {
    display: flex;
    align-items: center;
		justify-content: center;
    gap: 15px;
  }

  .service-paragraph i {
    color: var(--input-orange-color);
  }

  .second-box-details-bodytext p {
    font-size: 0.85rem;
    font-weight: 400;
  }

  body.dark .second-box-details-bodytext p {
    color: rgb(255, 255, 255, 0.6);
  }

  .service-video {
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 10px;
  }

  .service-video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .service-video > .playbutton {
    background-color: rgba(41, 37, 37, 0.5);
    padding: 0%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
  }

  .playbutton button {
    width: 50px;
		height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: var(--primary-text-light);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.3), 0px 0px 0px 20px rgba(255, 255, 255, 0.3);
  }

  .playbutton > button > i {
    font-size: 1rem;
    transition: 0.5s ease-in-out;
    color: var(--input-orange-color);
  }

  .playbutton > button:hover > i {
    color: var(--input-orange-color);
  }
}

@media screen and (max-width: 380px) {
	.service-info-first-box-title > h2 {
    font-size: 1.5rem;
  }
}